<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B51C7F591C0B6D8A0034F18F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B546DF0C1BDBCC360006D303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54E2A4B1C0BBDDA00A9B4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
